# --- MySQL ---
DB_ROOT_PASSWORD=rootpass
DB_NAME=countryinfo
DB_USERNAME=appuser
DB_PASSWORD=apppass

# --- App ---
SPRING_PROFILES_ACTIVE=prod
SOAP_ENDPOINT=http://webservices.oorsprong.org/websamples.countryinfo/CountryInfoService.wso
